* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;   
}
.btn{
    border: 1px solid #fff;
    background-color: #ff0e83;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
    font-size: 1.2rem;
    outline: none;
}
.btn:hover{
    border: 1px solid #ff0e83;
    background-color: white;
    color: black ;
    border-radius: 4px;
    cursor: pointer;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    background-color: #4E2A84;
    padding: 1.4rem 28rem;
    align-items: center;
    height: 87px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    font-family: 'Segoe UI', sans-serif;;
}

header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
header .header-brand{
    font-weight: 400;
    font-size: 37px;
    letter-spacing: 2px;
}

header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline;
    padding: 0 1rem;
    margin:  0 2.5px;

}
header nav ul li a{
   font-size: 1rem;
   transition: all 0.5s;
   font-weight: 600;
   letter-spacing: 2px;
}
header nav ul li a.active{
    color: #ff0e83;  
   
}
header nav ul li:hover a{
    color: #ff0e83;  
    
}
/* carousel */
#carousel {
    
    background: url(../images/b3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#carousel .carousel__content {
    margin-top: 120px;
    text-align: center;
    color: white;
   
}
#carousel .carousel__content h1{
   text-transform: capitalize;
   font-size: 4.9rem;
   font-weight: 600;
   letter-spacing: 1px;
    
}
#carousel .carousel__content p{
    opacity: 0.8;
    font-size: 1.33rem;
    letter-spacing: 1.5px;
    padding: 23px 0;
}
#carousel .carousel__content button {
    
    width: 162px;
    height:48px;
    text-transform: uppercase;
    font-weight: 500;
}


/* intro */
#intro{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}
#intro .intro__item{
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

#intro .tradition{
    background-color: #4E2A84;
   
}
#intro .image__1{
    grid-column: 2 / span 2;
}
#intro img {
    width: 100%;
    height: 100%;
}
#intro .creativity{
    background-color: #FF0E83;
   
}
#intro .things{
    grid-column: 1 / span 2;
    background-color: #ED6498;
}
#intro .quality{
    background-color: #836EAA;
}
#intro .tastycake{
    background-color: #4E2A84;
}
#intro .image__2{
    grid-column: 3 / span 2;
}
.intro__item h1 {
    padding: 20px 0;
    font-size: 28px;
    font-weight: 700;
}
.intro__item p {
   opacity: 0.7;
   font-size: 1.2rem;
   font-weight: 400;
}
.intro__item div {
    padding:0 50px;
    line-height: 2.5;
}
/* count */
#count {
    display: flex;
    justify-content: space-around;
    padding: 4rem 15px;
    text-align: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    height: 285px;
}
#count div{
    padding: 0 15px;
}
#count p{
    font-size: 2.5rem;
    color: #4E2A84;
    font-weight: 600;
}
#count h3{
    padding: 2rem 0;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 3px;
}
/* service */
#service{
  background: url(../images/s1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.2rem;
  padding: 6rem 0;
  
}
#service h3{
    text-align: center;
    font-weight: 600;
    font-size: 4.2rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
}
#service .service__content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 2rem;
    width: 80%;
    margin: 0 auto;
}
#service .service__item{
    padding: 0 15px;
}
#service .service__item i{
    font-size: 5rem;
    border: 1px solid #4e2a84;
    width: 8.75rem;
    height: 9rem;
    line-height: 9rem;
    border-radius: 50%;
    background: #fff;
    color: #4e2a84;
    transition: 0.5s all;
}
#service .service__item h4{
    font-size: 2.2rem;
    color: #000;
    letter-spacing: 2px;
    margin: 17px 0px;
    font-weight: 500;
}
#service .service__item p{
    line-height: 2.1rem;
    color: #000;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}
#service .service__item button{
    padding: 12px 27px;
    margin-top: 1.2rem;
    width: 11.5rem;
    font-weight: 400;
    border: 2px solid #fff;
}
#service .service__item:hover i,#service .service__item button:hover{
    color: #FF0E83;
}
#service .service__item button:hover {
    border: 2px solid #ff0e83;
    color: rgba(0, 0, 0, 0.8);
}
/* Gallery */
#gallery {
    padding: 6rem 1.2rem;
    
}
#gallery h3{
    text-align: center;
    font-weight: 600;
    font-size: 4.2rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 4rem;
}
.gallery__content .item__1{
    grid-column: 1 / span 2; 
}
.gallery__content .item__6 {
    grid-column: 3 / span 2; 
}
#gallery .gallery__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
#gallery .gallery__item{
    position: relative;
}
#gallery .gallery__item img{
    width: 100%;
    height: 100%;
}

.gallery__item .text{
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3);
   text-align: right;
   padding: 3rem;
   color: white;
}
.gallery__item .text h4{
    text-transform: uppercase;
    font-size: 2.2rem;
    transform: translateY(35px);
    transition: all 0.5s;

 }
 .gallery__item .text p{
    transform: translateY(50px);
    transition: all 0.5s;
    opacity: 0;
 }
 .gallery__item:hover .text h4,.gallery__item:hover .text p{
    transform: translateY(0);
    opacity: 1;
 }
 .gallery__item .text h4::after{
       content: "";
       display: block;
       width: 100%;
       height: 5px;
       background-color: white;
       margin-top: 1.5rem;
       opacity: 0;
       transition: all 0.5s;
       transform: translateY(50px);
 }
 .gallery__item:hover .text h4::after{
    opacity: 1;
    transform: translateY(0);
}
 .gallery__item .text h4 span:first-child{
    
    font-weight: 300;
 }
.gallery__item .text p{
    position: absolute;
    bottom: 30px;
    right: 50px;
}




